Repository lipara/qufapai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, buildimage:apollosun:pro, buildimage:apollosun:pro-hk, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

buildjar:apollosun:dev:
  stage: build_jar
  tags:
  - gitrunner-dev
  script:
  - ' cnpm install && npm run build:dev && cd  docker && ./build_app_post.sh'
  artifacts:
    paths:
    - dist/*

buildjar:apollosun:fat:
  stage: build_jar
  tags:
  - gitrunner-fat
  script:
  - ' cnpm install && npm run build:fat && cd  docker && ./build_app_post.sh'
  artifacts:
    paths:
    - dist/*

buildjar:apollosun:uat:
  stage: build_jar
  tags:
  - gitrunner-fat
  script:
  - ' cnpm install && npm run build:uat && cd  docker && ./build_app_post.sh'
  artifacts:
    paths:
    - dist/*

buildjar:apollosun:pro:
  stage: build_jar
  tags:
  - gitrunner-dev
  script:
  - ' cnpm install && npm run build && cd  docker && ./build_app_post.sh'
  artifacts:
    paths:
    - dist/*

buildjar:apollosun:pro-hk:
  stage: build_jar
  tags:
  - gitrunner-dev
  script:
  - ' cnpm install && npm run build:hk && cd  docker && ./build_app_post.sh'
  artifacts:
    paths:
    - dist/*

buildimage:apollosun:dev:
  stage: build_image
  tags:
  - gitrunner-dev
  script:
  - cd docker && ./build_images.sh 192.168.1.138:5000 dev

buildimage:apollosun:fat:
  stage: build_image
  tags:
  - gitrunner-fat
  script:
  - cd  docker && ./build_images.sh 192.168.1.138:5000 fat

buildimage:apollosun:uat:
  stage: build_image
  tags:
  - gitrunner-fat
  script:
  - cd  docker && ./build_images.sh 192.168.1.138:5000 uat

buildimage:apollosun:pro:
  stage: build_image
  tags:
  - gitrunner-dev
  script:
  - cd  docker && ./build_images.sh registry.cn-hangzhou.aliyuncs.com/jiaozi pro

buildimage:apollosun:pro-hk:
  stage: build_image
  tags:
  - gitrunner-dev
  script:
  - cd  docker && ./build_images.sh registry.cn-hangzhou.aliyuncs.com/jiaozi pro-hk

deploy:apollosun:dev:
  stage: deploy
  tags:
  - gitrunner-dev
  script:
  - cd  docker && ./run_service.sh 192.168.1.35:2375 192.168.1.138:5000 dev

deploy:apollosun:fat:
  stage: deploy
  tags:
  - gitrunner-fat
  script:
  - cd  docker && ./run_service.sh 192.168.1.116:2375 192.168.1.138:5000 fat

deploy:apollosun:uat:
  stage: deploy
  tags:
  - gitrunner-fat
  script:
  - cd  docker && ./run_service.sh 192.168.1.168:2375 192.168.1.138:5000 uat

deploy:apollosun:pro:
  stage: deploy
  tags:
  - gitrunner-dev
  script:
  - 'cd  docker && ./run_service_pro.sh -1 registry.cn-hangzhou.aliyuncs.com/jiaozi pro "ssh cent@47.91.47.195 -p 22093" '

deploy:apollosun:pro-hk:
  stage: deploy
  tags:
  - gitrunner-dev
  script:
  - 'cd  docker && ./run_service_pro.sh -1 registry.cn-hangzhou.aliyuncs.com/jiaozi pro-hk "ssh cent@47.244.154.80 -p 22078" '

00
  .gitignore
  package-lock.json
Due: none

提交
  src/main.js
  src/views/home/index.vue
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, buildimage:apollosun:pro, buildimage:apollosun:pro-hk, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

xiugai
  src/api/accountAudit.js
  src/api/dataStatistics.js
  src/api/declareOrder.js
  src/api/negativeManagement.js
  src/api/qr-code.js
  src/api/region.js
  src/api/roleManage.js
  src/views/auth/Login.vue
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

提交啦啦啦啦
  src/App.vue
  src/assets/logo.jpg
  src/layout/components/Header.vue
  src/main.js
  src/routers/index.js
  src/styles/base.scss
  src/views/auth/Login.vue
  webpack.config.js
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, buildimage:apollosun:pro, buildimage:apollosun:pro-hk, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

jiabu
  src/assets/ewm.png
  src/layout/components/Footer.vue
  src/layout/components/Header.vue
  src/views/home/index.vue
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

001
  src/App.vue
  src/components/countdown/TimerBtn.vue
  src/layout/components/Footer.vue
  src/layout/components/Header.vue
  src/routers/index.js
  src/styles/base.scss
  src/styles/reset.scss
  src/views/auth/FindPassword.vue
  src/views/auth/Login.vue
  src/views/auth/Register.vue
  src/views/auth/index.vue
  src/views/home/index.vue
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, buildimage:apollosun:pro, buildimage:apollosun:pro-hk, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

rem
  package-lock.json
  package.json
  src/main.js
  src/styles/base.scss
  src/styles/reset.scss
  webpack.config.js
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, buildimage:apollosun:pro, buildimage:apollosun:pro-hk, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

修改样式
  package-lock.json
  package.json
  src/App.vue
  src/layout/components/Footer.vue
  src/layout/components/Header.vue
  src/main.js
  src/routers/index.js
  src/styles/base.scss
  src/styles/reset.scss
  src/views/auth/FindPassword.vue
  src/views/auth/Login.vue
  src/views/auth/Register.vue
  src/views/auth/components/RegisterAndPassword.vue
  src/views/home/HomeIndex.vue
  src/views/home/index.vue
  webpack.config.js
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, buildimage:apollosun:pro, buildimage:apollosun:pro-hk, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

首页样式
  src/assets/bc.png
  src/assets/cc.png
  src/assets/icon_add.png
  src/assets/icon_computer.png
  src/assets/login_code.png
  src/assets/logo_apollo.png
  src/assets/logo_ewtp.png
  src/assets/public_bg2.jpg
  src/assets/r1.png
  src/assets/test.png
  src/assets/yingypng.png
  src/layout/components/Footer.vue
  src/layout/components/Header.vue
  src/styles/animated.css
  src/styles/reset.scss
  src/views/auth/Login.vue
  src/views/home/HomeIndex.vue
  static/img/r1.png
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

法拍严选
  src/assets/floorbg.png
  src/components/slidebar/Index.vue
  src/layout/SecondIndex.vue
  src/layout/components/Header.vue
  src/layout/components/SecondHeader.vue
  src/layout/components/index.js
  src/main.js
  src/routers/index.js
  src/styles/reset.scss
  src/views/home/HomeIndex.vue
  src/views/strictSelection/StrictIndex.vue
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, buildimage:apollosun:pro, buildimage:apollosun:pro-hk, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

法拍严选
  src/assets/bg.jpg
  src/assets/brand.png
  src/assets/logo.png
  src/assets/logo.webp
  src/layout/components/Footer.vue
  src/layout/components/Header.vue
  src/layout/components/SecondHeader.vue
  src/styles/reset.scss
  src/views/home/HomeIndex.vue
  src/views/strictSelection/StrictIndex.vue
  webpack.config.js
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

在售好房
  package-lock.json
  package.json
  src/assets/recommend.png
  src/layout/SecondIndex.vue
  src/layout/components/Header.vue
  src/layout/components/SecondHeader.vue
  src/routers/index.js
  src/styles/reset.scss
  src/views/strictSelection/SaleHouse.vue
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

细小修改
  src/assets/ewm.png
  src/components/slidebar/Index.vue
  src/layout/SecondIndex.vue
  src/layout/components/Footer.vue
  src/layout/components/Header.vue
  src/layout/components/SecondHeader.vue
  src/styles/reset.scss
  src/views/auth/Login.vue
  src/views/auth/Register.vue
  src/views/auth/components/RegisterAndPassword.vue
  src/views/console/Index.vue
  src/views/strictSelection/SaleHouse.vue
  src/views/strictSelection/StrictIndex.vue
  src/vuex/modules/user.js
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

跳转
  src/views/home/HomeIndex.vue
  src/views/strictSelection/SaleHouse.vue
  src/views/strictSelection/StrictIndex.vue
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

lhy修改
  package-lock.json
  package.json
  src/layout/components/Footer.vue
  src/routers/index.js
  src/styles/reset.scss
  src/views/home/HomeIndex.vue
  src/views/strictSelection/SaleHouse.vue
  src/views/strictSelection/StrictIndex.vue
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

tijiao
  src/assets/address.jpg
  src/views/strictSelection/StrictDetail.vue
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

bug
  src/views/strictSelection/StrictDetail.vue
Due: buildjar:apollosun:dev, buildjar:apollosun:fat, buildjar:apollosun:uat, buildjar:apollosun:pro, buildjar:apollosun:pro-hk, buildimage:apollosun:dev, buildimage:apollosun:fat, buildimage:apollosun:uat, deploy:apollosun:dev, deploy:apollosun:fat, deploy:apollosun:uat, deploy:apollosun:pro, deploy:apollosun:pro-hk

Path conditions:
  buildjar:apollosun:dev: any of: src/**/*
  buildjar:apollosun:fat: any of: src/**/*
  buildjar:apollosun:uat: any of: src/**/*
  buildjar:apollosun:pro: any of: src/**/*
  buildjar:apollosun:pro-hk: any of: src/**/*
  buildimage:apollosun:dev: any of: src/**/*
  buildimage:apollosun:fat: any of: src/**/*
  buildimage:apollosun:uat: any of: src/**/*
  buildimage:apollosun:pro: any of: src/*
  buildimage:apollosun:pro-hk: any of: src/*
  deploy:apollosun:dev: any of: src/**/*
  deploy:apollosun:fat: any of: src/**/*
  deploy:apollosun:uat: any of: src/**/*
  deploy:apollosun:pro: any of: src/**/*
  deploy:apollosun:pro-hk: any of: src/**/*
